// C O R E S 
$info1 : #094554;
$info2 : #29B4BB;
$light1 : #FFFFFF;
$light2 : #F2F2F2;
$light3 : #EAEAEA;
$light4 : #00000014;
$light5 : #D1D1D0;
$light6 : #C7C7C7;
$light7 : #969595;
$light8 : #989898;
$warning : #FDCA4C;
$succes : #38BE47;
$dark1 : #5D5D5C;
$dark2 : #464645;
$dark3 : #161615;


// T A M A N H O   D E   F O N T E 
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fs-40 {
    font-size: 40px;
}


// P E S O   D E   F O N T E 
$regular : 400;
$medium : 500;
$bold : 700;