.s-cursos{
    background: linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%);
    /* background-image: url(../../assets/images/bippia-main.jpg), linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply; */
    min-height: 250px;
    padding: 80px 0px;
}

form.search-bar{
    bottom: 28px;
    height: 56px;
}

form.search-bar input{
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #D1D1D0;
}

form.search-bar input:focus{
    outline: none;
}

img.search-icon{
    width: 22px;
    height: 22px;
}

form.search-bar button{
    padding: 0px 16px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid #D1D1D0;
}


/* MEDIA QUERIES*/

@media (max-width: 767px) {
    .s-cursos h1{
        font-size: 36px;
    }
}