/* .projetos{
   

} */

.imagem{
    width: 536px;
    height: 393px;
    border-radius: 10px;

}

.btn{
    border: solid 1px #094554;
    width: 148px;
    height: 28px;
}

.btn:focus{
    background-color: #094554;
    color: white;
}

.saiba{
    color: white;
    border: solid 1px #29B4BB;
    width: 148px;
    height: 28px;
}

.saiba:focus{
    background-color: #094554;
    color: white;

}

.saiba{
    background-color: #29b4bb;
    color: white;
    border: none;

}
p{
    font-size: auto;

}

.h2{
    font-family: 'Inter', sans-serif;
    color: #094554;
    font-weight: 700;
}

@media (max){

}

@media (max-width: 767px){
    .btn,.saiba{
        width: 148px;
        height: 8px;
        margin-left: 10px;
    }

    p{
        text-align: center;
        padding: 10px;
    }
    .h2{
        text-align: center;
    }

    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 400px){
   p{
    font-size: 14px;
    
   }

   .btn,.saiba{
    width: 128px;
    height: 8px;
    margin-left: 10px;
    font-size: 13px;
}
}