body{
    font-family: 'Inter', sans-serif;
}

.bipp-home{
    padding: 92px 0px 96px 0px;
}

.bipp-home h1{
    font-size: 40px;
    font-weight: 700;
    color: #094554;
}

.bipp-home .nav-pills a.nav-link.active{
    background-color: #094554;
}

.nav-pills a.nav-link{
    height: 48px;
    width: 168px;
    text-align: center;
    border-radius: 24px;
    padding: 13px 0px 13px 0px;
    font-weight: 500;
    font-size: 16px;
    outline: 1px solid #094554;
    color: #094554;
}

.tab-pane.fade article{
    padding-left: 0px;
}

.tab-pane.fade figure{
    padding-right: 0px;
}

.tab-pane.fade h2{
    font-size: 32px;
    font-weight: 700;
    color: #094554;
    margin-bottom: 16px;
}

.tab-pane.fade p{
    font-size: 16px;
    color: #5D5D5C;
}

.tab-pane.fade button{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background-color: #29B4BB;
    padding: 14px 50px;
    border: none;
    border-radius: 24px;
}

.tab-pane.fade .card{
    background-color: #094554;
    color: #FFFFFF;
    border-radius: 8px;
    min-height: 258px;
}

.tab-pane.fade .card h5{
    font-size: 20px;
    font-weight: 700;
}

.tab-pane.fade .card p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.tab-pane.fade .card a{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #29B4BB;
    border-radius: 24px;
    padding: 10px 14px;
}

.card-title{
    margin: 0;
}


/*MEDIA QUERIE*/

@media (max-width: 1199px) {
    .tab-pane.fade .card-text{
        padding: 0px;
    }

    .tab-pane.fade .card-body h5.card-title{
        font-size: 17px;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .tab-pane.fade article{
        padding-right: 28px;
    }

    .tab-pane.fade figure{
        border-radius: 8px;
        object-fit: contain;
        overflow-x: hidden;
    }

    .tab-pane.fade img.img-fluid{
        height: 100%;
        max-width: none;
    }
}

@media (max-width: 991px){
    .tab-pane.fade .item-card{
        margin-top: 2rem;
    }
}

@media (max-width: 767px){
    .tab-pane.fade figure{
        padding-right: 15px;
        padding-left: 15px;
    }

    .tab-pane.fade article{
        order: 1;
    }

    .tab-pane.fade figure{
        order: 0;
    }

    .tab-pane.fade .item-card{
        order: 2;
    }

    .tab-pane.fade h5{
        text-align: center;
    }

    .tab-pane.fade p{
        text-align: center;
        padding: 10px;
    }

    .bipp-home h1{
        text-align: center;
    }

    .bipp-home article{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav-pills a.nav-link, .tab-pane.fade p{
        margin: 0px 10px;
    }

    .nav-pills a.nav-link, .tab-pane.fade p, .tab-pane.fade button{
        font-size: 14px;
    }

    .bipp-home h1{
        font-size: 36px;
    }
}