body{
    font-family: 'Inter', sans-serif;
}

.revista{
    background-color: #F2F2F2;
    padding: 86px 0px 72px 0px;
}

.revista .card{
    border: none;
    background-color: #5D5D5C;
    height: 205px;
    margin: 10px; 
}

.revista h1{
    color: #094554;
    font-weight: 700;
    font-size: 40px;
}

.revista p{
    width: 45%;
    color: #969595;
    font-size: 16px;
    margin-bottom: 52px;
}

.revista button{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background-color: #29B4BB;
    padding: 14px 58px;
    border: none;
    border-radius: 24px;
    margin-top: 62px;
}


/*MEDIA QUERIE*/
@media (max-width: 1199px){
    .revista p{
        width: 60%;
    }
}

@media (max-width: 991px){
    .revista p{
        width: 80%;
    }
}

@media (max-width: 767px){
    .revista p{
        width: 90%;
    }

    .revista h1{
        font-size: 36px;
    }
}

@media (max-width: 575px){
    .revista{
        text-align: center;
    }

    .revista .card{
        max-width: 158px;
        margin: 8px;
    }

    .revista p{
        width: 100%;
    }
}

@media (max-width: 347px){
    .revista .card{
        max-width: 140px;
    }
}

