.s-banner-grande{
    min-height: 600px;
}

.s-banner-grande h1, p{
    width: 45%;
}

.s-banner-grande p{
    margin-bottom: 37px;
}

.s-banner-grande button{
    padding: 13px 60px;
    border-radius: 24px;
}


/* MEDIA QUERIES*/
@media (max-width: 991px) {
    .s-banner-grande h1, p{
        width: 75%;
    }
}

@media (max-width: 767px) {
    .s-banner-grande h1{
        font-size: 40px;
    }

    .s-banner-grande p{
        font-size: 16px;
    }

    .s-banner-grande button{
        font-size: 14px;
    }
}