.s-banner-grande{
    min-height: 600px;
    padding: 60px;
}

.s-banner-grande h1, p{
    width: 40%;
}

.s-banner-grande p{
    margin-bottom: 37px;
}

.s-banner-grande button{
    padding: 13px 60px;
    border-radius: 24px;
}


/* MEDIA QUERIES*/
@media (max-width: 1199px) {
    .s-banner-grande h1, p{
        width: 45%;
    }
}

@media (max-width: 991px) {

    .s-banner-grande h1, p{
        width: 65%;
    }
}

@media (max-width: 767px) {
    .s-banner-grande{
        min-height: 550px;
        padding: 50px;
    }

    .s-banner-grande h1, p{
        width: 75%;
    }

    .s-banner-grande h1{
        font-size: 48px;
    }

    .s-banner-grande p{
        font-size: 16px;
    }

    .s-banner-grande button{
        font-size: 14px;
    }
}

@media (max-width: 509px) {
    .s-banner-grande{
        min-height: 500px;
        padding: 40px;
    }

    .s-banner-grande h1{
        font-size: 36px;
    }

    .s-banner-grande h1, p{
        width: 80%;
    }
}

@media (max-width: 369px) {
    .s-banner-grande h1, p{
        width: 100%;
    }
}