.bloco-caroussel1{
    width: 100%;
    height: 524px;
    background-color: black;
}

.bloco-caroussel2{
    width: 100%;    
    height: 524px;
    background-color: greenyellow;
}

.bloco-caroussel3{
    width: 100%;
    height: 524px;
    background-color: blue;
}


