.imagem{
    width: 216px;
    height: 64px;
}

a,.nav-link{
    color: #008181;
    font-weight: 500;

}

a,.nav-link:hover{
    color: #008181;
    
}

.botao{
    width: 176px;
    background-color: #00c4c4;
    border: none;
    font-weight: 500;
}

.botao:focus{
    background-color:#00c4c4 ;
}

.botao:hover{
    background-color: #00c4c4;
    color: #00a8a8;

}
nav,.nav-bipp{
    height: 112px;
}