.s-bippia{
    background: linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%);
    background-image: url(../../assets/images/bippia-main.jpg), linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    min-height: 450px;
}

.s-bippia p{
    width: 40%;
}

.s-bippia button{
    border-radius: 24px;
    padding: 12px 58px;
    opacity: 1;
}


/* MEDIA QUERIES*/
@media (max-width: 991px) {
    .s-bippia p{
        width: 65%;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 767px) {
    .s-bippia p{
        width: 90%;
    }

    .s-bippia button{
        font-size: 14px;
    }
}