body{
    font-family: 'Inter', sans-serif;
}

.bippia{
<<<<<<< HEAD
    background: rgb(9,69,84);
    background: linear-gradient(309deg, rgba(9,69,84,1) 0%, rgba(27,132,143,1) 50%, hsl(183, 64%, 45%) 100%);
=======
    background: #fff;
    background: linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%);
    background-image: url(../../assets/images/bippia-main.jpg), linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
<<<<<<< HEAD:componentes/bippia/bippia.css
>>>>>>> cbdc7d411c448ebb3419fdaf5d00bc3fa005da06
=======
    background-position: top;
>>>>>>> 1635fca60e2be4814c615235bf8d3f9715a0ec65:componentes/banner_bippia/bippia.css
    color: white;
    padding: 86px 0px 128px 0px;
}

.bippia h1{
    font-size: 40px;
    font-weight: 700;
}

.bippia p{
    font-size: 16px;
    width: 40%;
    margin-bottom: 2rem;
}

.bippia button{
    background-color: transparent;
    border-radius: 24px;
    padding: 12px 58px;
    opacity: 1;
    font-size: 16px;
    font-weight: 500;
}


/* MEDIA QUERIES*/

@media (max-width: 991px) {
    .bippia p{
        width: 65%;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 767px) {
    .bippia p{
        font-size: 14px;
        width: 85%;
    }

    .bippia h1{
        font-size: 36px;
    }

    .bippia button{
        font-size: 14px;
    }
}