.s-bippia{
    background: linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%);
    background-image: url(../../assets/images/bippia-main.jpg), linear-gradient(310deg, rgba(27,132,143,1) 0%, rgba(41,180,187,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: top;
    color: white;
    min-height: 400px;
    padding: 80px 0px;
}

.s-bippia p{
    width: 40%;
    margin-bottom: 2rem;
}

.s-bippia button{
    background-color: transparent;
    border-radius: 24px;
    padding: 12px 58px;
    opacity: 1;
}


/* MEDIA QUERIES*/

@media (max-width: 991px) {
    .bippia p{
        width: 65%;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 767px) {
    .bippia{
        min-height: 350px;
    }

    .bippia p{
        font-size: 14px;
        width: 85%;
    }

    .bippia h1{
        font-size: 36px;
    }

    .bippia button{
        font-size: 14px;
    }
}